<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Harvest.Bridge.WebSite-20231111071045.mdf;Initial Catalog=aspnet-Harvest.Bridge.WebSite-20231111071045;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add connectionString="Database=ReportPortal;Server=MLAB-DB01n;Integrated Security=false;Password=odfSijr32$;User ID=pathway;" providerName="System.Data.SqlClient" name="ReportPortal"/>
    <add connectionString="Database=HarvestSQLA;Server=.;Integrated Security=false;Password=odfSijr32$;User ID=pathway;" providerName="System.Data.SqlClient" name="HarvestSQL"/>
    <add connectionString="Database=HarvestSQLA;Server=.;Integrated Security=false;Password=odfSijr32$;User ID=pathway ;" providerName="System.Data.SqlClient" name="TargetDB"/>
    <add connectionString="Database=HarvestSQL_StagingA;Server=.;Integrated Security=false;Password=odfSijr32$;User ID=pathway;" providerName="System.Data.SqlClient" name="StagingDB"/>
    <add connectionString="Database=Copia;Server=mlab-copia-db;Integrated Security=false;Password=SQLPathw@y23!;User ID=jbrewster_SQL;" providerName="System.Data.SqlClient" name="SourceDB"/>
  </connectionStrings>

  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>