<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <!--<connectionStrings>
    <add connectionString="Database=HarvestSQL_QA;Server=MLAB-DB01n;Integrated Security=false;Password=odfSijr32$;User ID=pathwayqa;" providerName="System.Data.SqlClient" name="TargetDB" />
    <add connectionString="Database=HarvestSQL_Staging_QA;Server=MLAB-DB01n;Integrated Security=false;Password=odfSijr32$;User ID=pathwayqa;" providerName="System.Data.SqlClient" name="StagingDB" />
    <add connectionString="Database=Copia;Server=mlab-copia-db;Integrated Security=false;Password=SQLPathw@y23!;User ID=jbrewster_SQL;" providerName="System.Data.SqlClient" name="SourceDB" />
  </connectionStrings>-->
  <connectionStrings>
    <add connectionString="Database=HarvestSQL;Server=.;Integrated Security=false;Password=odfSijr32$;User ID=pathway;" providerName="System.Data.SqlClient" name="TargetDB" />
    <add connectionString="Database=HarvestSQL_Staging_New;Server=.;Integrated Security=false;Password=odfSijr32$;User ID=pathway;" providerName="System.Data.SqlClient" name="StagingDB" />
    <add connectionString="Database=Copia;Server=mlab-copia-db;Integrated Security=false;Password=SQLPathw@y23!;User ID=jbrewster_SQL;" providerName="System.Data.SqlClient" name="SourceDB" />
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>